config/dev.yml
config/private.yml
src/docker/alcatraz_cache*
src/docker/currentbuild.sh
src/docker/sdet_conf.tar
releases/*.tgz
dev_releases
blobs
.blobs
.dev_builds
.idea
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
tmp
releases/**/*.tgz
.DS_Store
*.swp
*~
*#
#*
